@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap");

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	color: #004aad;
	font-family: "Yanone Kaffeesatz", sans-serif;
	background-color: black;
}

.nav {
	width: 100%;
	height: 60px;
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	position: fixed;
}

.nav li {
	display: inline;
	font-size: 20px;
	padding-left: 20px;
}

.logo-bluelock {
	height: 60px;
}

a {
	border-radius: 5px;
	padding: 8px 18px;
	color: #004aad;
	text-decoration: none;
}

.header {
	height: calc(100vh - 60px);
	background-color: red;
	background-image: url(Images/header.png);
	background-size: cover;
	display: flex;
	align-items: center;
	text-align: center;
}

.header h1 {
	font-family: "Rubik Mono One", sans-serif;
	color: white;
	font-size: 80px;
	margin: 0;
	padding: 0;
	padding-left: 120px;
}




.flex {
	display: flex;
	align-items: center;
	width: 90%;
	margin: 0 auto;
	gap: 50px;
}

.about {
	background-color: #004aad;
}

.about h1 {
	font-size: 100px;
	text-align: center;
	color: black;
	margin: 0;
	padding-top: 20px;
}
.about img {
	width: 30%;
	padding-left: 50px;
}

.about h3 {
	font-size: 40px;
	color: white;
}
.about p {
	width: 90%;
	color: white;
	font-size: 20px;
	line-height: 30px;
}

.gallery {
	background-color: #004aad;
	padding-top: 60px;
}

.gallery h1 {
	font-size: 100px;
	text-align: center;
	color: black;
	margin: 0;
	padding-top: 20px;
}
.flex-images {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.flex-images img {
	width: 25%;
	padding-top: 30px;
	padding-left: 40px;
	padding-right: 40px;
}
.highlights {
	background-color: #004aad;
	padding-top: 60px;
}

.highlights h1 {
	font-size: 100px;
	text-align: center;
	color: black;
	margin: 0;
	padding-top: 20px;
}

.flex-video {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 40px;
}

.flex-video iframe {
	width: 44%;
	padding-top: 30px;
	padding-left: 40px;
	padding-right: 40px;
}

@media (max-width: 800px) {
	.flex {
		flex-direction: column;
	}

	.header h1 {
		font-size: 40px;
		width: 100%;
		padding-left: 0;
	}

	.header {
		background-position: right center;
	}
	.about img {
		width: 50%;
	}
	.about h3 {
		text-align: center;
	}
	.about p {
		text-align: center;
		padding-left: 35px;
	}

	.orderchange div {
		order: 2;
	}

	.orderchange img {
		order: 1;
	}

	.flex-video iframe {
		width: 100%;
		padding-top: 10px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.flex-images img {
		width: 100%;
		padding-top: 10px;
		padding-left: 0px;
		padding-right: 0px;
	}
}

.footerNav {
	margin: 30px 10px;
}
.footerNav ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
}
.footerNav ul li a {
	color: white;
	margin: 20px;
	text-decoration: none;
	font-size: 1.3em;
	opacity: 0.7;
	transition: 0.5s;
}
.footerNav ul li a:hover {
	opacity: 1;
}
.footerBottom {
	background-color: #111;
	padding: 20px;
	text-align: center;
}
.footerBottom p {
	color: white;
}
.maker {
	opacity: 0.7;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	margin: 0px 5px;
}


  